.card {
  width: 300px;
  height: 340px;
  padding: 0 5%;
}

.fa-paw {
  color: #c1c1f3;
}

mat-card img{
  object-fit: cover;
  min-width: 100%;
  min-height: 90%;
  margin: 0 auto;
  cursor: pointer;
}
