.container {
  min-height: 100vh;
  .side {
    width: 25%;
    padding: 10px;
    .card-container {
      margin-top: 70px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}