.container {
  min-height: 100vh;
  margin-top: 60px;
  .side {
    width: 25%;
    padding: 30px;

    @media (max-width: 600px) {
      width: 100%;
    }

    .card-container {
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.close {
  display: none;

  @media (max-width: 600px) {
    display: block;
    position: fixed;
    top: 56px;
    right: 20px;
    z-index: 2;
  }
}

.open {
  position: fixed;
  top: 56px;
  left: 0;
  padding: 0 10px;
  z-index: 2;
}
